doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    style(type='text/css').
      body{
        background:url('http://drive.google.com/uc?export=view&id=1t2bpqsI_gzb_uD0rgVZVBSTHIfP6xFKu');
      }
      #maindiv{
        color:gray;
        padding-top:20px;
        margin-left:200px;
      }
      #char1{
        position:fixed;
        bottom:40px;
        left:30px;
        height:150px;
      }
      #char2{
        position:fixed;
        bottom:60px;
        right:50px;
        height:250px;
        animation:fuwafuwa 3s infinite linear alternate;
      }
      @keyframes fuwafuwa {
      0% {transform:translate(0, 0) rotate(-5deg);}
      50% {transform:translate(0, -5px) rotate(0deg);}
      100% {transform:translate(0, 0)rotate(5deg);}
      }
      button{
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-right:100px;
      }
      button:hover{
        opacity:0.5;
      }

    title アンケート
  body
    main#maindiv
      .container
        p #{Q}
        hr
        img#char1(src="http://drive.google.com/uc?export=view&id=15eFZ2kKYvLXESJ09BGAPr7a4f_L0gErM")
        img#char2(src="http://drive.google.com/uc?export=view&id=1t_JczBffzwmDMHumalPQcoT5sTMYDN13")
      .container
        p 第２章 準備しよう
        .row
          .col-sm
            form(method="post" action="/")
              p
                input(type="radio" name="enq" value="2_01")
                span 　01.LinuxというOS
              p
                input(type="radio" name="enq" value="2_02")
                span 　02.コンピューターの構成要素
              p
                input(type="radio" name="enq" value="2_03")
                span 　03.ファイル操作
              p
                input(type="radio" name="enq" value="2_04")
                span 　04.標準出力
              p
                input(type="radio" name="enq" value="2_05")
                span 　05.vi
              p
                input(type="radio" name="enq" value="2_06")
                span 　06.シェルプログラミング
              p
                input(type="radio" name="enq" value="2_07")
                span 　07.通信とネットワーク
              p
                input(type="radio" name="enq" value="2_08")
                span 　08.サーバーとクライアント
              p
                input(type="radio" name="enq" value="2_09")
                span 　09.HTTP通信
              p
                input(type="radio" name="enq" value="2_10")
                span 　10.通信をするボットの開発
              p
                input(type="radio" name="enq" value="2_11")
                span 　11.GitHub で Web サイト公開
              p
                input(type="radio" name="enq" value="2_12")
                span 　12.イシュー管理と Wiki によるドキュメント作成
              p
                input(type="radio" name="enq" value="2_13")
                span 　13.Git と GitHub の連携
              p
                input(type="radio" name="enq" value="2_14")
                span 　14.GitHub への push
              p
                input(type="radio" name="enq" value="2_15")
                span 　15.Git のブランチ
              p
                input(type="radio" name="enq" value="2_16")
                span 　16.ソーシャルコーディング
              button(type="button" onclick="location.href='./'") 戻る
              button(type="submit") 投稿
              hr
              hr
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
        crossorigin="anonymous")