extends layout

block content
  main#maindiv
    .container
      //- button#logoutButton(type="button" onclick="location.href='./logout'") ログアウト
      h3 #{title}
      h4 【 #{Q} 】アンケート!
      hr
      img#char1(src="http://drive.google.com/uc?export=view&id=1__bSpY4gIqJJZO0YkDtjEF4haUnqzHMD")
      img#char2(src="http://drive.google.com/uc?export=view&id=1CI4yfaCyMeEjzgHoeFYBf_w_V3JxpLLr")
    .container
      .row
        .col-sm
          P 【Q.#{Q_small}】
          p
            button(type="button" onclick="location.href='./chapter1'") １章 はじめよう
          p
            button(type="button" onclick="location.href='./chapter2'") ２章 準備しよう
          p
            button(type="button" onclick="location.href='./chapter3'") ３章 サーバーサイドプログラミング入門
          p
            button(type="button" onclick="location.href='./chapter4'") ４章 実践サーバーサイドプログラミング
          p
            button(type="button" onclick="location.href='./chapter0'") ０章　入門コースをはじめる方へ
          hr
          hr
          p
            button(type="button" onclick="location.href='/result'") →　アンケート結果ページへ

      
      script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
      crossorigin="anonymous")